*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

#logodnc{
    width: 125px;
    height: 62px;
    margin-left: 56px;
    margin-top: 52px;
}

#tituloMenuSuperior{
    width: 536px;
    height: 102px;
    margin-left: 150px;
    margin-top: 50px;
}

#textoMenuSuperior{
    width: 536px;
    height: 90px;
    margin-left: 150px;
    margin-top: 10px;    
    padding-bottom: 100px;
}

#menuSuperior{
    background-color: black;
    background-image: url(imgens/fundoMenuSuperior.svg);
    color: aliceblue;
}

#menuInformacional{
    background-color:#EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icons{
    margin: 50px 0px 50px 100px;
    padding: 15px;
}

.textoInformativo{
    display: flex;
    align-items: center;
}

#tituloVideo{
    color:  #247BA0;
    margin-top: 50px;
}

#secaoVideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#video{
    margin: 50px 25px 50px 100px;
}

#carrossel{
    background-color: #247ba0;
    padding: 50px;
}

#tituloCarrossel{
    color: #EAECE5;
    text-align: center;
    font-size: 25px;
}

#cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}

.card{
    margin-left: 50px;
}

#setaEsquerda{
    display: none;
}

#cardLeonardo{
    display: none;
}

.seta{
    margin-top: 45%;
    cursor: pointer;
}

.seta:hover{
    transform: translatey(-7px);
    transition-duration: 0.35s;
}

#formulario{
    text-align: center;
}

#titleFormulario{
    font-size: 25px;
    margin: 25px;
    color:#383838;
}

input{
    Width: 300px;
    Height:  40px;
    margin: 15px;
    background-color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    Width: 250px;
    Height: 40px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #0f8cc2;
    color: white;
    transform: translatey(-7px);
    transition-duration: 0.35s;
    box-shadow:0px 15px 20px #194152;
}